#git-status {
    color: var(--color-text);
    border-left: 1px solid var(--color-border);
    padding-left: 10px;
}
#git-status:hover {
    background: var(--color-secondary);
    color: var(--color-on-secondary);
}